<ul role="list" class="space-y-6">
  <% @project_history.map do |item| %>
    <% if item[:type] === 'comment' %>
      <li class="relative flex gap-x-4">
        <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center">
          <div class="w-px bg-gray-200"></div>
        </div>

        <%= render 'shared/avatar' %>

        <div class="flex-auto rounded-md p-3 ring-1 ring-inset ring-gray-200">
          <div class="flex justify-between gap-x-4">
            <div class="py-0.5 text-xs/5 text-gray-500"><span class="font-medium text-gray-900">Anon.</span> commented</div>
            <time datetime="2023-01-23T15:56" class="flex-none py-0.5 text-xs/5 text-gray-500"><%= time_ago_in_words(item[:created_at]) %></time>
          </div>
          <p class="text-sm/6 text-gray-500"><%= item[:content] %></p>
        </div>
      </li>
    <% end %>

    <% if item[:type] === 'audit' %>
      <li class="relative flex gap-x-4">
        <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center">
          <div class="w-px bg-gray-200"></div>
        </div>
        <div class="relative flex size-6 flex-none items-center justify-center bg-white">
          <div class="size-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
        </div>
        <p class="flex-auto py-0.5 text-xs/5 text-gray-500"><span class="font-medium text-gray-900">Anon.</span> <%= item[:content] %>.</p>
        <time datetime="2023-01-23T10:32" class="flex-none py-0.5 text-xs/5 text-gray-500"><%= time_ago_in_words(item[:created_at]) %></time>
      </li>
    <% end %>

  <% end %>
</ul>

<!-- New comment form -->
<div class="mt-6 flex gap-x-3 relative">
  <div class="relative pt-1 size-6 flex-none text-xs text-gray-500 font-bold bg-green-200 rounded-full flex justify-center">A</div>

  <%= render 'comments/forms/comment' %>
</div>
